Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
__pycache__/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.db
*.ipch
*.aps
*.history

*.obj
*.pch
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.res
*.exe
*.dll
*.lib

.idea/
.vscode/
*.swp
Thumbs.db
.DS_Store

# 过大文件
*.hex
*.csv
*.pth
*.npy
catboost_info/
*.npz
mindspore/
mobilenetv2
mobilenetv2.zip
作业4history
stable-diffusion-v1-5/
dataset.parquet